<h1>商品詳細</h1>

<table>
  <tr>
    <th>商品名</th>
    <th><%= @item.name %></th>
  </tr>
  <tr>
    <th>商品説明</th>
    <th><%= @item.introduction %></th>
  </tr>
  <tr>
    <th>ジャンル</th>
    <th><%= @item.genre.name %></th>
  </tr>
  <tr>
    <th>税抜価格</th>
    <th><%= @item.price %>円</th>
  </tr>
  <tr>
    <th><%  if @item.is_active == true %>
        <p>販売中</p>

      <% else %>
        <h3>販売停止中です</h3>
      <% end %>
    </th>
  </tr>
</table>

<div>
  <%= link_to "編集する", edit_admin_item_path %>
</div>