<h1>商品詳細</h1>
<div>イメージ</div>
<table>
  <tr>
    <th>商品名</th>
    <th><%= @item.name %></th>
  </tr>
  <tr>
    <th>商品説明</th>
    <th><% @item.introduction %></th>
  </tr>
  <tr>
    <th>ジャンル</th>
    <th><%= @item.genre.name %></th>
  </tr>
  <tr>
    <th>税抜価格</th>
    <th><%= item.price %>円</th>
  </tr>
  <tr>
    <th><%= f.label :販売ステータス %></th>
    <td><%= f.radio_button :is_active, true, checked: true %>
        <%= f.label :is_active, "販売中" %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "販売停止中" %>
    </td>   
  </tr>
</table>

<div>
  <%= link_to '編集', edit_admins_item_path(@item), class: "btn btn-sucess"
</div>