<div clas="container">
  <div class="row mt-3 mb-3 offset-1 text-center">
    <h2>管理者ログイン</h2>
  </div>

  <%= form_with model: @admin, url: new_admin_session_path, local: true do |f| %>
    <form class="form-horizontal">

      <div class="form-group row my-3">
        <%= f.label :"メールアドレス",class:"col-sm-2 control-label" %><br />
        <div class="col-sm-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com",class:"form-control" %>
        </div>
      </div>

      <div class="form-group row my-3">
        <%= f.label :"パスワード",class:"col-sm-2 control-label" %><br />
        <div class="col-sm-3">
          <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
        </div>
      </div>

      <div class="text-center my-5">
        <%= f.submit "ログイン", class:"btn btn-primary" %>
      </div>

    </form>
  <% end %>

  <%= render "admin/shared/links" %>

</div>