<div class="container">
  <div class="my-3 text-center">
      <h1>Welcome!!!</h1>
  </div>

  <div class="text-center">
    <div class="container">
      <div class"mx-auto">
          <p>ようこそ、ながのCAKEへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員ではない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
          </p>
      </div>
    </div>
  </div>

  <div class="container new-item">
    <h2>新着商品</h2>
    <div class="row">
        <% @items.first(4).each do |item| %>
      <div class="col-md-3 col-sm-6">
          <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
            <%= link_to public_items_path do %>
            <%= image_tag item.get_image(100,100) %>
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= item.name %></p>
              <% if item.is_active == true %>
                <p class="card-text"><%= item.price %>円</p>
              <% else %>
                <p class="card-text text-danger">販売停止中</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="all-items-show-button"><%= link_to "全ての商品をみる", public_items_path %></div>
  </div>

</div>