<h1><%= customer.full_name + "さんの会員詳細編集" %></h1>

<%= form_with model: @customer, url: public_customers_information_path, local: true do |f| %>
  <div>
    <p>会員ID</p>
    <p><%= @customer.id %></p>
  </div>

  <div>
    <%= f.label :"氏名" %>
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :"フリガナ" %>
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>
  </div>

  <div>
    <%= f.label :"郵便番号" %>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <%= f.label :"住所" %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :"電話番号" %>
    <%= f.telephone_field :telephone_number %>
  </div>

  <div>
    <%= f.label :"メールアドレス" %>.
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :"会員ステータス" %>
    <div>
      <%= f.radio_button :is_active, true %>
      <%= f.label :is_active_true, "有効" %>
    </div>
    <div>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active_true, "退会" %>
    </div>
  </div>

  <%= f.submit "編集内容を保存" %>

<% end %>