<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>会員一覧</h2>
      <div class="row my-3">
        <div class="col-sm-10 px-sm-0 offset-sm-1">
          <table class="table table-bordered">
            <thead class="table-active text-center">
              <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @customers.each do |customer| %>
                <tr>
                  <td class="text-center"><%= customer.id %></td>
                  <td>
                    <%= link_to admin_customer_path(customer) do %><%= customer.full_name %><% end %>
                  </td>
                  <td><%= customer.email %></td>
                  <td>
                    <%#= customer.customer_status %>
                    <% if customer.is_active == true%>
                      <p class="text-center">退会済</p>
                    <% else %>
                      <p class="text-center text-success">有効</p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3 justify-content-center">
    <%= paginate @customers %>
  </div>
</div>