<h1><%= @customer.first_name %> <%= @customer.last_name %>さんの会員情報</h1>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <!--会員ステータス表示-->
      <td></td>
    </tr>
    
    <tr>
      <th>会員氏名</th>
      <td><%= @customer.first_name %> <%= @customer.last_name %></td>
    </tr>
    
    <tr>
      <th>フリガナ</th>
      <td><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
    </tr>
    
    <tr>
      <th>郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    
    <tr>
      <th>住所</th>
      <td><%= @customer.address %></td>
    </tr>
    
    <tr>
      <th>電話番号</th>
      <td><%= @customer.phone_number %></td>
    </tr>
    
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
    
  </thead>
</table>

<%= link_to "会員一覧", admin_customer_path, class: "btn btn-info" %>　
<%= link_to "会員編集", edit_admin_customer_path, class: "btn btn-primary" %>
<%= link_to "注文一覧", admin_orders_path, class: "btn btn-success" %>
