<div class="container">
  <div class="row my-3 offset-1 text-center">
    <h2>ジャンル一覧・追加</h2>
  </div>

  <%=form_with model: @genre,url: admin_genres_path, method: :post do |f| %>
  <form class="form-horizontal">
    <div class="form-group row my-3">
      <%= f.label :"ジャンル名",class:"col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :name,class:"form-control" %>
      </div>
      <%= f.submit'新規登録',class: "btn btn-success" %>
    </div>
  </form>
  <% end %>

  <div class="row">
    <div class="col-4">
      <table class="table table-bordered">
        <thead class="table-active text-center">
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
          <tbody>
            <tr>
              <td><%= genre.name %></td>
              <td class="text-center"><%= link_to "編集する", edit_admin_genre_path(genre.id),class: "btn btn-success" %></td>
            </tr>
          </tbody>
        <%end%>
      </table>
    </div>
  </div>

</div>