<div class="container">
  <div class="row">
    <div class="col">
      <h2>配送先登録</h2>
      <%= form_with model: @address, url: addresses_path, local: true do |f| %>
      <table>
        <tr>
          <div>
            <th><%= f.label :"郵便番号（ハイフンなし）" %></th>
            <td><%= f.text_field :postal_code, placeholder:"XXXXXXX" %></td>
          </div>
        </tr>
        <tr>
          <div>
            <th><%= f.label :"住所" %></th>
            <td><%= f.text_field :address, placeholder:"住所を入力してください" %></td>
          </div>
        </tr>
        <tr>
          <div>
            <th><%= f.label :"宛先" %></th>
            <td><%= f.text_field :name, placeholder:"名前を入力してください" %></td>
            <td><%= f.submit "新規登録", class:"btn btn-success" %></td>
          </div>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛先</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
            <td><%= addresses.postal_code %></td>
            <td><%= addresses.address %></td>
            <td><%= addresses.name %></td>
            <td>
              <%= link_to "編集する", edit_address_path(address), class:"btn btn-success" %>
              <%= link_to "削除する", address_path, method: :delete, "data-confirm" => "本当に削除しますか？" , class:"btn btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>