<div class="container">
  <div class="row my-3 offset-1 text-center">
    <h2>配送先登録／一覧</h2>
  </div>

  <div class="row">
    <div class="col">
      <%= form_with model: @address, url: public_addresses_path, local: true do |f| %>
        <form class="form-horizontal">

          <div class="form-group row">
            <%= f.label :"郵便番号(ハイフンなし)",class:"col-sm-3 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :postal_code, placeholder:"XXXXXXX",class:"form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :"住所",class:"col-sm-3 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :address, placeholder:"住所を入力してください",class:"form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :"宛先",class:"col-sm-3 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :name, placeholder:"名前を入力してください",class:"form-control" %>
            </div>
            <div class="col-sm-3">
              <%= f.submit "新規登録", class:"btn btn-success" %>
            </div>
          </div>

        </form>
      <% end %>
    </div>
  </div>

  <div class="row my-5">
    <div class="col">
      <table class="table table-bordered">
        <thead class="table-active text-center">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛先</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
              <%= link_to "編集する", edit_public_address_path(address), class:"btn btn-success" %>
              <%= link_to "削除する", public_address_path(address), method: :delete, "data-confirm" => "本当に削除しますか？" , class:"btn btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>