<h1>注文履歴詳細</h1>

<div>
  <h2>注文情報</h2>
  <div>
    <div>注文日</div>
    <div><%= @order.created_at.strftime("%Y/%m/%d") %></div>
  </div>

  <div>
    <div>配送先</div>
    <div>
      〒<%= @order.postal_code %><br>
      <%= @order.address %><br>
      <%= @order.name %>
    </div>
  </div>

  <div>
    <div>支払方法</div>
    <div><%= @order.payment_method_i18n %></div>
  </div>

  <div>
    <div>ステータス</div>
    <div><%= @order.status_i18n %></div>
  </div>
</div>

<div>
  <h2>請求情報</h2>
  <div>
    <div>商品合計</div>
    <div><%= @order.total_payment - @order.shipping_cost %></div>
  </div>

  <div>
    <div>配送料</div>
    <div><%= @order.shipping_cost %></div>
  </div>

  <div>
    <div><span>ご請求額</span></div>
    <div><%= @order.total_payment %></div>
  </div>
</div>


<h2>注文内容</h2>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>

  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.items_name %></td>
        <td><%= order_detail.item.with_tax_price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.cart_item.subtotal %></td>
      </tr>
    <% end %>
  </tbody>

</table>
