<div class="container">
  <div class="row"> 
    <div class="col-xs-1">
    </div>  
    <div class="col-xs-9">
      <h2>商品一覧(全<%= @items.count %>件)</h2>
<!--販売停止中は文字か画像に何か手を加えて分かりやすくする？　北森-->
      <div class="row">
        <% @items.each do |item| %>
          <div class="box" style="float:left; margin-right:20px;">
              <%= link_to public_item_path(item) do %>
              <%= image_tag item.get_image(120,120), fallback: "no_image.jpg" %>
              <% end %>
          <p><%= link_to item.name, public_item_path(item) %></p>
          <p>    
             <% if item.is_active %>
             <%= item.price.to_s(:delimited) %>円
             <% elsif %>
             <p style="color:red">販売停止</p>
             <% end %>
           </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= paginate @items %>
</div>

