<div>
  <%= image_tag @item.get_image(100,100) %>
</div>
<div>
  <h1><%= @item.name %></h1>
  <p><%= @item.introduction %></p>
  <p><%= @item.price.to_s(:delimited) %>円（税抜）</p>
  <!--数量選択-->
  <p><%= render "item_amount_form", cart_item: @cart_item, item: @item %></p>
</div>