<!DOCTYPE html>
<html>
  <head>
    <title>TeamB Nagano Cake!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/38cce786e8.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/public/top"><%= image_tag "logo1.PNG", :size => "70x70" %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" >
            <ul class="navbar-nav ml-auto">


            <!--管理者ログイン時ー-->
            <% if admin_signed_in? %>
              <li class="nav">
                <%= link_to admin_items_path do %>
                  <i class="">商品一覧</i>
                <% end %>
              </li>
              <li class="nav">
                <%= link_to admin_customers_path do %>
                  <i class="">会員一覧</i>
                <% end %>
              </li>
              <li class="nav">
                <%= link_to admin_top_path  do %>
                  <i class="">注文履歴一覧</i>
                <% end %>
              </li>
              <li class="nav">
                <%= link_to admin_genres_path do%>
                  <i class="">ジャンル一覧</i>
                <% end %>
              </li>
              <li class="nav">
                <%= link_to destroy_admin_session_path, method: :delete do %>
                  <i class="">ログアウト</i>
                <% end %>
              </li>


            <!--ログインした時ー-->
            <% elsif customer_signed_in? %>
              <li class="nav">
                <%= link_to public_customers_mypage_path do %>
                  <i class="">マイページ</i>
                <% end %>
              </li>
              <li class="nav">
                <%= link_to  public_items_path do %>
                  <i class="">商品一覧</i>
                <% end %>
              </li>
              <li class="nav">
                <%= link_to public_cart_items_path do %>
                  <i class="">カート</i>
                <% end %>
              </li>
              <li class="nav">
                <%= link_to destroy_customer_session_path, method: :delete do %>
                  <i class="">ログアウト</i>
                <% end %>
              </li>
            <% else %>


            <!--ログインしてないー-->
              <li class="nav">
                <%= link_to public_about_path do %>
                  <i class="">About</i>
                <% end %>
              </li>
              <li class="nav">
                <%= link_to public_items_path do %>
                  <i class="">商品一覧</i>
                <% end %>
              </li>
              <li class="nav">
                <%= link_to new_customer_registration_path, data: {"turbolinks" => false} do %>
                  <i class="">新規登録</i>
                <% end %>
              </li>
              <li class="nav">
                <%= link_to  new_customer_session_path do%>
                  <i class="">ログイン</i>
                <% end %>
              </li>

            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="text-center">足を引っ張らない(Team B)<%= image_tag "asii_logo.png", :size => "30x30" %></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
