<!DOCTYPE html>
<html>
  <head>
    <title>TeamB Nagano Cake!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/38cce786e8.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <%= render 'layouts/header' %>
    <div>　</div>
    <div>　</div>
    <div>　</div>
    <div>　</div>

    <main class="flex-grow-1">
      <%= yield %>
    </main>

    <div>　</div>
    <div>　</div>
    <footer class="fixed-bottom">
      <div style="background-color: gray;">
        <div class="container">
          <div class="row">
            <div class="col">
              <p class="text-center">足を引っ張らない(Team B)<%= image_tag "asii_logo.png", :size => "30x30" %></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
